body{
    text-shadow: 100cap;
    color: #e6dada;
    background-color: #08823d;
    text-decoration: dotted;
    text-align: center;
    animation: alternate;
    padding: 10%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
} 

